button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
    font-size: 13px;
}

button:hover {
    font-weight: bolder;
}