<div class="bg-gray-100">
  <div class="mx-auto my-0 max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32 text-center"
    >
      <h2 class="text-4xl font-bolder text-gray-900 font-serif">Collections</h2>

      <div
        class="mt-6 space-y-12 lg:grid lg:grid-cols-4 lg:gap-x-10 lg:space-y-0 text-center"
      >
        <div class="group relative">
          <div
            class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
          >
            <img
              src="../../assets/book.jpg"
              alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a (click)="openCatalog('Book')">
              <span class="absolute inset-0"></span>
              Notebooks....Planner....Sticky Notes
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            Your Story Starts Here
          </p>
        </div>
        <div class="group relative">
          <div
            class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
          >
            <img
              src="../../assets/pencil.jpg"
              alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a (click)="openCatalog('Pen')">
              <span class="absolute inset-0"></span>
              Pen....Pencil....Highlighter
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            Tools for Expression
          </p>
        </div>
        <div class="group relative">
          <div
            class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
          >
            <img
              src="../../assets/eraser.jpg"
              alt="Collection of four insulated travel bottles on wooden shelf."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a (click)="openCatalog('Eraser')">
              <span class="absolute inset-0"></span>
              Eraser....Correction
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            Undoing Mistakes, One Swipe at a Time
          </p>
        </div>
        <div class="group relative">
          <div
            class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
          >
            <img
              src="../../assets/bookmark.jpg"
              alt="Collection of four insulated travel bottles on wooden shelf."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a (click)="openCatalog('Bookmark')">
              <span class="absolute inset-0"></span>
              Bookmark
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            Never Lose a Great Idea Again
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
